@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-headline: "Inter", "sans-serif";
    --font-body: "Inter", "sans-serif";
    --font-label: "Inter", "sans-serif";
    --font-mono: "Roboto Mono", "monospace";

    /*Highstyle*/
    --color-highstyle-50: #eeeff7;
    --color-highstyle-100: #dce0ef;
    --color-highstyle-200: #b9c0df;
    --color-highstyle-300: #96a1cf;
    --color-highstyle-400: #7382bf;
    --color-highstyle-500: #5062af;
    --color-highstyle-600: #404f8c;
    --color-highstyle-700: #303b69;
    --color-highstyle-800: #202746;
    --color-highstyle-900: #101423;
    --color-highstyle-950: #080a11;
    /*Peach souffle*/
    --color-peachsouffle-50: #faedeb;
    --color-peachsouffle-100: #f5dbd6;
    --color-peachsouffle-200: #ebb8ad;
    --color-peachsouffle-300: #e19484;
    --color-peachsouffle-400: #d7715b;
    --color-peachsouffle-500: #cd4d32;
    --color-peachsouffle-600: #a43e28;
    --color-peachsouffle-700: #7b2e1e;
    --color-peachsouffle-800: #521f14;
    --color-peachsouffle-900: #290f0a;
    --color-peachsouffle-950: #140805;
    /*Summer day*/

    --color-summerday-50: #fcf3e9;
    --color-summerday-100: #f9e7d2;
    --color-summerday-200: #f3cea5;
    --color-summerday-300: #edb678;
    --color-summerday-400: #e79e4b;
    --color-summerday-500: #e1851e;
    --color-summerday-600: #b46b18;
    --color-summerday-700: #875012;
    --color-summerday-800: #5a350c;
    --color-summerday-900: #2d1b06;
    --color-summerday-950: #160d03;
    /*Deep cove*/
    --color-deepcove-50: #e7ebfd;
    --color-deepcove-100: #d0d8fb;
    --color-deepcove-200: #a0b1f8;
    --color-deepcove-300: #899df6;
    --color-deepcove-400: #4262f0;
    --color-deepcove-500: #123bed;
    --color-deepcove-600: #0f2fbd;
    --color-deepcove-700: #0b238e;
    --color-deepcove-800: #07185f;
    --color-deepcove-900: #040c2f;
    --color-deepcove-950: #020618;
    /*Vivid auburn*/
    --color-vividauburn-50: #faebeb;
    --color-vividauburn-100: #f5d7d6;
    --color-vividauburn-200: #ebafad;
    --color-vividauburn-300: #e18784;
    --color-vividauburn-400: #d75f5b;
    --color-vividauburn-500: #cd3732;
    --color-vividauburn-600: #a42c28;
    --color-vividauburn-700: #7b211e;
    --color-vividauburn-800: #521614;
    --color-vividauburn-900: #290b0a;
    --color-vividauburn-950: #140505;
    /*Gray*/
    --color-gray-50: #f4f1f2;
    --color-gray-100: #e8e3e6;
    --color-gray-200: #d1c7cc;
    --color-gray-300: #baabb3;
    --color-gray-400: #a38f99;
    --color-gray-500: #8c7380;
    --color-gray-600: #705c66;
    --color-gray-700: #54454d;
    --color-gray-800: #382e33;
    --color-gray-900: #1c171a;
    --color-gray-950: #0e0b0d;


    --breakpoint-3xl: 128rem;
}

@layer theme {
    .dark {
        /*Highstyle*/
        --color-highstyle-950: #eeeff7;
        --color-highstyle-900: #dce0ef;
        --color-highstyle-800: #b9c0df;
        --color-highstyle-700: #96a1cf;
        --color-highstyle-600: #7382bf;
        --color-highstyle-500: #5062af;
        --color-highstyle-400: #404f8c;
        --color-highstyle-300: #303b69;
        --color-highstyle-200: #202746;
        --color-highstyle-100: #101423;
        --color-highstyle-50: #080a11;
        /*Peach souffle*/
        --color-peachsouffle-950: #faedeb;
        --color-peachsouffle-900: #f5dbd6;
        --color-peachsouffle-800: #ebb8ad;
        --color-peachsouffle-700: #e19484;
        --color-peachsouffle-600: #d7715b;
        --color-peachsouffle-500: #cd4d32;
        --color-peachsouffle-400: #a43e28;
        --color-peachsouffle-300: #7b2e1e;
        --color-peachsouffle-200: #521f14;
        --color-peachsouffle-100: #290f0a;
        --color-peachsouffle-50: #140805;
        /*Summer day*/

        --color-summerday-950: #fcf3e9;
        --color-summerday-900: #f9e7d2;
        --color-summerday-800: #f3cea5;
        --color-summerday-700: #edb678;
        --color-summerday-600: #e79e4b;
        --color-summerday-500: #e1851e;
        --color-summerday-400: #b46b18;
        --color-summerday-300: #875012;
        --color-summerday-200: #5a350c;
        --color-summerday-100: #2d1b06;
        --color-summerday-50: #160d03;
        /*Deep cove*/
        --color-deepcove-950: #e7ebfd;
        --color-deepcove-900: #d0d8fb;
        --color-deepcove-800: #a0b1f8;
        --color-deepcove-700: #899df6;
        --color-deepcove-600: #4262f0;
        --color-deepcove-500: #123bed;
        --color-deepcove-400: #0f2fbd;
        --color-deepcove-300: #0b238e;
        --color-deepcove-200: #07185f;
        --color-deepcove-100: #040c2f;
        --color-deepcove-50: #020618;
        /*Vivid auburn*/
        --color-vividauburn-950: #faebeb;
        --color-vividauburn-900: #f5d7d6;
        --color-vividauburn-800: #ebafad;
        --color-vividauburn-700: #e18784;
        --color-vividauburn-600: #d75f5b;
        --color-vividauburn-500: #cd3732;
        --color-vividauburn-400: #a42c28;
        --color-vividauburn-300: #7b211e;
        --color-vividauburn-200: #521614;
        --color-vividauburn-100: #290b0a;
        --color-vividauburn-50: #140505;
        /*Gray*/
        --color-gray-950: #f4f1f2;
        --color-gray-900: #e8e3e6;
        --color-gray-800: #d1c7cc;
        --color-gray-700: #baabb3;
        --color-gray-600: #a38f99;
        --color-gray-500: #8c7380;
        --color-gray-400: #705c66;
        --color-gray-300: #54454d;
        --color-gray-200: #382e33;
        --color-gray-100: #1c171a;
        --color-gray-50: #0e0b0d;
    }
}

.bg-grid-subtle {
    background-image: radial-gradient(circle, var(--color-gray-100) 1px, transparent 1px);
    background-size: 32px 32px;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    vertical-align: middle;
}

.text-vertical {
    writing-mode: vertical-rl;
}